<div class="fluid-container">
  <!-- NavBar -->
  <app-navbar></app-navbar>
  <!-- NavBar -->
  <!-- Outlet -->
  <router-outlet></router-outlet>
  <!-- Outlet -->

  <!-- Footer -->
  <footer class="footer text-center fixed-bottom">
    <div class="row">
            <div class="col-12 text-md-center text-left">
                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Todos los derechos reservados <a href="https://www.facebook.com/juan.chehin/" target="_blank">Ing. Chehin Juan Martin</a>
                </p>
            </div>
        </div>
    <small>Powered by {{ angular }}</small>
  </footer>
  <!-- Footer -->
</div>
